<div>
    <form novalidate data-bind="submit: submit" enctype='multipart/form-data' method="post">
        <fieldset>
            <legend data-bind="text: payment.id == '' ? 'Novo Pagamento' : 'Atualizar Pagamento'"></legend>
            <div class='control-group'>
                <label class='control-label' for='type'>Tipo</label>
                <select name="type" data-bind="value: payment.type">
                    <option value="boleto">Boleto</option>
                    <option value="deposito">Depósito</option>
                    <option value="especial">Especial</option>
                </select>
            </div>
            <div class='control-group'>
                <label class='control-label' for='price'>Valor</label>
                <div class='controls'>
                    <input type='text' data-mask-money="true" maxlength="10" name='description' data-bind="value: payment.price" data-validation-regex-regex="[0-9\.,]+" data-validation-regex-message="Digite um valor válido." data-validation-required-required='true' data-validation-required-message='Digite um valor.'>
                </div>
            </div>
            <div class='control-group'>
                <label class="control-label" for="status">Status</label>
                <select name="status" data-bind="value: payment.status">
                    <option value="0">Pendente</option>
                    <option value="1">Confirmado</option>
                </select>
            </div>
            <div>
                <hr />
                <button type="submit" class="btn btn-primary" data-loading-text="Aguarde..." data-bind="text: payment.id == '' ? 'Gravar' : 'Atualizar' "></button>
                <a href="#payment" class="btn">Voltar</a>
            </div>
        </fieldset>
    </form>
</div>