<div class="row-fluid">
    <div class="span4 offset4 form-login">
        <form data-bind="submit: submit" class="well form-horizontal">
            <legend class="text-center">Mamona CMS</legend>
            <div class="control-group">
                <label class="control-label" for="inputEmail">Email</label>
                <div class="controls">
                    <div class="input-prepend">
                        <span class="add-on"> <i class="icon-user"></i>
                        </span>
                        <input type="text" name="email" id="email" data-bind="value: email" placeholder="Email"></div>
                </div>
            </div>
            <div class="control-group">
                <label class="control-label" for="inputPassword">Senha</label>
                <div class="controls">
                    <div class="input-prepend">
                        <span class="add-on"> <i class="icon-key"></i>
                        </span>
                        <input type="password" id="password" name="password" data-bind="value: password" placeholder="Password"></div>
                </div>
            </div>
            <div class="control-group">
                <div class="controls">
                    <button type="submit" data-loading-text="Aguarde..." class="btn btn-primary">Conectar</button>
                    <a id="forgot_password" class="btn btn-warning" data-bind="click: forgotPassword">Esqueci minha senha</a>
                </div>
            </div>
        </form>
    </div>
</div>