<style>
@media (max-width: 728px) {
    .navbar {
        display: none;
    }

    body {
        padding: 0;
    }
}

#event_info {
    margin: 20px;
}

#event_participations .btn {
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
    text-align: left;
    text-indent: 5px;
    font-size: 20px;
    padding: 10px 0;
    line-height: 22px;
}

#event_participations .btn i {
    position: relative;
    top: 0px;
}
</style>

<div id="event_participations">
    <div id="event_info">
        <h3 data-bind="text: event.title"></h3>
        <div data-bind="text: event.street"></div>
        <span data-bind="text: event.city"></span> - <span data-bind="text: event.state"></span>
        <div>
            Início: <span data-bind="text: event.date_start"></span>&nbsp;<span data-bind="text: event.time_start"></span>
        </div>
        <div>
            Término: <span data-bind="text: event.date_start"></span>&nbsp;<span data-bind="text: event.time_start"></span>
        </div>
        <div><strong>Marque os presentes abaixo.</strong></div>
    </div>
    <div id="subscription" class="table_container" data-bind="html: table"></div>
</div>